/* CSS Document */

/* Variables */
:root {
  /*fonts*/
  --font-family-primary: Arial, Helvetica, sans-serif;
  --font-primary: 1rem var(--font-family-primary);
  font-weight: 200;
  /* line-height spacer is the multiplier to keep everything in rhythm */
  --line-height-spacer: 1.5;

  --horizontal-spacer: 5%;
  /*colors*/
  --color-background-primary: var(--color-light);
  --color-text-primary: var(--color-dark);
  --color-white: #fffefc;
  --color-light: #e8e8e8;
  --color-mid: #666;
  --color-dark: #333;
  --color-black: #252831;
  --color-accent-primary: #79bbe7;
  --color-accent-primary-darker: #01447e;
  --color-highlight: #df600a;
}

/******************************************************************************/
/* Base styles */
/******************************************************************************/

/* resets */

/*https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/*/
html {
  box-sizing: border-box;
  word-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* QUESTION: Why is this collection of elements chosen for this reset? This code is from source file. */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* QUESTION: Any other common media elements that would benefit from being included here?*/
#map,
/*#map-container,*/ img,
picture,
figure,
iframe,
video,
svg,
canvas,
object {
  max-width: 100%;
  height: auto;
}

a img {
  border: none 0 var(--color-white);
}

/* Typography */
/* currently only h1 and h2 are in use. other headers will take p styles until set.*/
p,
h3,
h4,
h5,
h6 {
  font: var(--font-primary);
  color: var(--color-text-primary);
  line-height: var(--line-height-spacer);
  margin: 0;
}

h1 {
  font: 1.5rem var(--font-family-primary);
  /* variable line-height spacer * a fraction of spacer to apply * 1em to give it a unit */
  line-height: calc(var(--line-height-spacer) * 0.75 * 1em);
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font: 1.25rem var(--font-family-primary);
  /* variable line-height spacer * a fraction of spacer to apply * 1em to give it a unit */
  line-height: calc(var(--line-height-spacer) * 0.75 * 1em);
  margin: 0;
}

a {
  color: var(--color-highlight);
  /* added underline for additional link cue so it's not color only */
  text-decoration: underline var(--color-mid) solid;
}
a:hover,
a:focus,
a:active {
  color: var(--color-accent-primary);
}

body {
  margin: 0;
  background: var(--color-background-primary);
  font: var(--font-primary);
  font-weight: normal;
}

/* utility */
.sr-only {
  position: absolute;
  width: 1px;
  git: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* skip map link implemented using this technique: https://webaim.org/techniques/css/invisiblecontent/ */
.skip a {
  /* using relative instead of absolute to keep map grids in line visually */
  position: absolute;
  left: -10000px;
  top: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: calc(var(--line-height-spacer) * 0.75rem) var(--horizontal-spacer);
  color: var(--color-accent-primary-darker);
}

/* .skip:focus, */
.skip a:focus,
/* .skip:active, */ .skip a:active {
  position: static;
  left: auto;
  width: auto;
  height: auto;
  display: block;
  /* min-height: 10rem; */
}

/* end BASE styles */

/******************************************************************************/
/* HEADER */
/******************************************************************************/
header {
  min-height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10000; /* high z-index needed to override mapbox z-index */
  background-color: var(--color-black);
  text-align: center;
  border-bottom: 1px solid var(--color-light);
}

header h1 {
  padding: calc(var(--line-height-spacer) * 1rem) var(--horizontal-spacer);
}

header h1 a {
  color: var(--color-white);
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

/* NAV */

/* restaurant.html */
/* breadcrumbs */
#breadcrumb {
  padding: calc(var(--line-height-spacer) * 0.75rem) var(--horizontal-spacer);
  list-style: none;
  background-color: var(--color-white);
  font-size: calc(var(--font-size-primary) * 1.5);
  margin: 0;
  text-align: initial;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
/* got the code from: https://www.w3.org/TR/wai-aria-practices-1.1/examples/breadcrumb/index.html */
#breadcrumb li + li::before {
  display: inline-block;
  margin: 0 0.75em;
  transform: rotate(15deg);
  border-right: 0.1em solid var(--color-black);
  height: 0.8em;
  content: '';
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: var(--color-accent-primary-darker);
}

/* Add a color on mouse-over */
#breadcrumb li a:hover,
#breadcrumb li a:active,
#breadcrumb li a:focus {
  color: var(--color-accent-primary);
  text-decoration: none;
}
/* end HEADER */

/******************************************************************************/
/* MAIN */
/******************************************************************************/
main {
  background-color: var(--color-light);
}

#restaurants-list,
#restaurant-container,
#reviews-container {
  /* margin/padding set to match nav and footer padding */
  /* we want margin collapse on top/bottom of main sections */
  margin: calc(var(--line-height-spacer) * 1rem) 0 0;
  padding: 0 var(--horizontal-spacer) calc(var(--line-height-spacer) * 1rem);
}

/* ================================= Map ==================================== */

#map {
  /* /2 we want map to look like it takes up half of page vertically minus the header*/
  /* 137px is the min size of .inside header */
  width: 100%;
  min-height: calc(50vh - (137px/2));
}

/* index.html */
/*===== index.html ============= Restaurant Filtering ======================= */
.filter-options {
  color: var(--color-black);
  padding: calc(var(--line-height-spacer) * 1rem) var(--horizontal-spacer);
  background-color: var(--color-accent-primary);
  display: grid;
  grid-template-columns: minmax(min-content, 15rem) minmax(min-content, 15rem);
  gap: calc(var(--line-height-spacer) * 0.25 * 1rem) var(--horizontal-spacer);
  align-items: center;
  justify-content: center;
}

.filter-options div {
  display: flex;
  flex-flow: column nowrap;
}
.filter-options label {
  min-width: 100%;
  margin-bottom: calc(var(--line-height-spacer) * 0.25rem);
}
.filter-options select {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  font: var(--font-primary);
  letter-spacing: 0;
  padding: 0 0.25em;
}

/* ===== index.html ================= restaurant list ======================= */
/*  ul that holds the index page li's - each li holds info on a single restaurant */
#restaurants-list {
  list-style: none;
  /* display: grid;
  -ms-grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
}

#restaurants-list li {
  background: var(--color-white);
  /*variable line-height spacer * a fraction of spacer to apply * 1em to give it a unit */
  padding: calc(var(--line-height-spacer) * 0.75 * 1rem);
  margin: calc(var(--line-height-spacer) * 0.5 * 1rem) auto;
  border-radius: calc(var(--line-height-spacer) * 1.5 * 1rem) 2px;
}

#restaurants-list li img {
  /* the 1.1 is finessed ~a magic number~ to fit with border-radius of container */
  border-radius: calc(var(--line-height-spacer) * 1.1 * 1rem) 2px;
  padding-bottom: calc(var(--line-height-spacer) * 0.25 * 1rem);
}

#restaurants-list li h2 {
  color: var(--color-highlight);
  text-transform: uppercase;
  font-size: 1.5rem;
}

#restaurants-list li p:last-of-type {
  padding-bottom: calc(var(--line-height-spacer) * 1* 1rem);
}

#restaurants-list li a {
  display: inline-block;
  max-width: max-content;
  background-color: var(--color-highlight);
  border: 3px solid var(--color-white);
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  padding: calc(var(--line-height-spacer) * 0.5 * 1rem) 1em;
  border-radius: 2px;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background-color: var(--color-white);
  border: 3px solid var(--color-highlight);
  color: var(--color-highlight);
}
#restaurants-list li a:active {
  color: var(--color-accent-primary-darker);
}

@media screen and (min-width: 30rem) {
  #restaurants-list {
    display: grid;
    -ms-grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  #restaurants-list li {
    margin: calc(var(--line-height-spacer) * 0.5 * 1rem);
  }
}

/* restaurant.html  has body class .inside*/
/* ===== restaurant.html ========== restaurant container ======================= */
#restaurant-container h2 {
  color: var(--color-highlight);
  font-weight: 200;
  margin: calc(var(--line-height-spacer) * 1.5 * 1rem) 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#restaurant-container img {
  border-radius: calc(var(--line-height-spacer) * 1.5 * 1rem) 2px;
  padding-bottom: calc(var(--line-height-spacer) * 0.25 * 1rem);
  min-width: 100%;
  min-height: 100%;
  -ms-align-self: stretch;
  align-self: stretch;
}

#restaurant-cuisine {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: calc(var(--font-size-primary) * 1.1);
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: calc(var(--line-height-spacer) * 0.25 * 1rem) 1em;
  /* opposite border radius of img */
  border-radius: 2px calc(var(--line-height-spacer) * 1.5 * 1rem);
  margin-bottom: calc(var(--line-height-spacer) * 0.5 * 1rem);
}

#restaurant-address {
  font-size: calc(var(--font-size-primary) * 1.1);
  margin-bottom: calc(var(--line-height-spacer) * 0.5 * 1rem);
  text-align: center;
}

#restaurant-hours {
  margin: 0 auto;
}

/* grid starting at 45rem ... great candidate for future subgrid refactor*/
@media screen and (min-width: 45rem) {
  #restaurant-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding-bottom: 2%;
  }

  #restaurant-container h2 {
    -ms-grid-column: 2/3;
    grid-column: 2/3;
    -ms-grid-row: 1/2;
    grid-row: 1/2;
    margin: 0;
    -ms-align-self: start;
    align-self: start;
    background-color: var(--color-accent-primary-darker);
    color: var(--color-white);
    text-align: center;
    padding: calc(var(--line-height-spacer) * 0.25 * 1rem) 1em;
    border-radius: 2px calc(var(--line-height-spacer) * 1.5 * 1rem);
  }

  #restaurant-container img {
    -ms-grid-column: 1/2;
    grid-column: 1/2;
    grid-row: 1/5;
    padding: 0;
    border-radius: calc(var(--line-height-spacer) * 1.5 * 1rem) 2px;
    display: grid;
    -o-object-fit: cover;
    object-fit: cover;
  }
  #restaurant-cuisine {
    -ms-grid-column: 2/3;
    grid-column: 2/3;
    -ms-grid-row: 2/3;
    grid-row: 2/3;
    color: var(--color-dark);
    background: none;
  }
  #restaurant-address {
    -ms-grid-column: 2/3;
    grid-column: 2/3;
  }

  #restaurant-hours {
    -ms-grid-column: 2/3;
    grid-column: 2/3;
    -ms-align-self: start;
    align-self: start;
  }
} /* end media query */

/* ===== restaurant.html ========== reviews container ======================= */
#reviews-container {
  max-width: 37.5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(var(--line-height-spacer) * 0.75 * 1rem);
  border-top: 1px solid var(--color-white);
}

#reviews-container h2 {
  font-size: 1.75rem;
  color: var(--color-accent-primary-darker);
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-container ul {
  padding: 0;
}

#reviews-container li {
  background-color: var(--color-white);
  border-radius: calc(var(--line-height-spacer) * 1.5 * 1rem) 2px;
  margin-bottom: calc(var(--line-height-spacer) * 1 * 1rem);
  list-style-type: none;
  display: grid;
  grid-template-areas:
    ' reviewer-name  review-date '
    'review-rating review-rating'
    ' review-content review-content';
}

#reviews-container li p {
  padding: calc(var(--line-height-spacer) * 0.75 * 1rem);
  color: var(--color-light);
}

/* name field */
#reviews-container li p:first-of-type {
  font-size: 1.5em;
  border-radius: calc(var(--line-height-spacer) * 1.5 * 1rem) 0 0 2px;
  grid-area: reviewer-name;
  background-color: var(--color-dark);
}

/* date field */
#reviews-container li p:nth-of-type(0n + 2) {
  grid-area: review-date;
  border-radius: 0 2px calc(var(--line-height-spacer) * 1.5 * 1rem) 0;
  background-color: var(--color-dark);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* rating field */
#reviews-container li p:nth-of-type(0n + 3) {
  grid-area: review-rating;
  background-color: var(--color-highlight);
  color: var(--color-white);
  justify-self: start;
  text-transform: uppercase;
  margin: calc(var(--line-height-spacer) * 0.75 * 1rem);
  padding: calc(var(--line-height-spacer) * 0.25 * 1rem) 1em;
  border-radius: 2px;
}

/* review content field */
#reviews-container li p:nth-of-type(0n + 4) {
  grid-area: review-content;
  color: var(--color-primary-text);
  padding-top: 0;
}

@media screen and (min-width: 50rem) {
  .inside main {
    /* padding to match footer and nav margins/padding */
    padding: calc(var(--line-height-spacer) * 1rem) var(--horizontal-spacer);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 2rem;
    /* if you change gap, change the horizontal spacing of #restaurant-container grid */
    max-width: 90rem;
    margin-right: auto;
    margin-left: auto;
  }

  .inside #restaurant-container {
    margin: 0;
    padding: 0;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .inside #reviews-container {
    margin: 0;
    padding: 0;
    grid-column: 1/2;
    grid-row: 2/3;

    /* to remove mobile padding and border */
    padding-top: 0;
    border-top: none;
  }

  .inside #map-container {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid: max-content / 1fr;
  }

  .inside #map {
    border-radius: calc(var(--line-height-spacer) * 1.1 * 1rem) 2px;
  }
}

/******************************************************************************/
/* FOOTER */
/******************************************************************************/
footer {
  color: var(--color-light);
  background-color: var(--color-dark);
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: calc(var(--line-height-spacer) * 1 * 1rem);
  padding: calc(var(--line-height-spacer) * 1rem) var(--horizontal-spacer);
}
