/* CSS Document */

/* TODO: refactor css selectors to avoid #ids and duplication*/
/* TODO: reformat stylesheet spacing to conform to udacity giuidelines */
/* TODO: Check colors for accessibility. Adjust palette as needed. Also adjust for aesthetics as needed.*/
/*TODO: Choose modular scale for type and note it in stylesheet comment*/

/* Variables */
:root {
  /*fonts*/
  --font-family-primary: Arial, Helvetica, sans-serif;
  --font-size-primary: 1rem;
  /*--font-line-height-primary: 1rem;*/
  --font-primary: var(--font-size-primary) var(--font-family-primary);

  /*colors*/
  --color-background-primary: var(--color-light);
  --color-text-primary: var(--color-dark);
  --color-white: #f3f3f3;
  --color-light: #e8e8e8;
  --color-mid: #666;
  --color-dark: #333;
  --color-black: #252831;
  --color-accent-primary: #3397db;
  --color-accent-primary-darker: #01447e;
  --color-highlight: #f18200;
}
